=render 'home/top'

.span-24.last
  .span-3
    %img.span-3{:src => "#{@user.photo_url.nil? ? "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email)}" : @user.photo_url }"}
    =render 'home/links'    
    
    %h3 Groups
    =render 'shared/groups'
    %h3 Friends
    =render 'users/contacts', :user => @user
  .span-15
    
    %h3 News feed
    =render 'shared/update_box'
    %hr.space
    =#render 'shared/feeds'
  
  .span-6.last
    %h3 Requests
    =render 'shared/requests'
    %h3 Reach out
    =render 'shared/invite'    
    %h3 Events
    =render 'shared/events'    
%hr.space
